# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Metal Libraries
*.metallib
*.air

# Executables
*.exe
*.out
*.app

# .vscode folder
.vscode/

# clangd files and folders
.cache/
compile_commands.json

# CMake build folder
build/

# Output binary
MetalCompute/hellogpu
